<div class="container mt-5">
    <div *ngIf="!registerMode" style='text-align: center;'>
        <h1>Find players for all your Warhammer Fantasy needs</h1>
        <hr>
        <p class="lead">Like to play, paint, or just chat about how bad Nighthaunt are? Then find other players in your area or connect to people across the globe. Sign up to start browsing and messaging!</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelregister)="cancelRegisterMode()"></app-register>
            </div>
        </div>
    </div>
</div>